{% extends 'base.html' %}
{% block content %}

    <div class="container mt-4">
        <h1>Welcome to our website</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="square-plate square-plate-1">
                    <a href="{% url 'src:phrasalverbs_list' %}" class="btn btn-light btn-square-plate">Link 1</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="square-plate square-plate-2">
                    <a href="#" class="btn btn-light btn-square-plate">Link 2</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="square-plate square-plate-3">
                    <a href="#" class="btn btn-light btn-square-plate">Link 3</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="square-plate square-plate-4">
                    <a href="#" class="btn btn-light btn-square-plate">Link 4</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
