{% extends 'base.html' %}
{% block content %}
    <!-- Centered Heading -->
    <div class="container mt-5 text-center" >
        <h1 margin-bottom = "20px">Phrasal Verbs</h1>
    </div>

<div class="pv">
    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" name="search"
                   value="{{ request.GET.search }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Filter</button>
            </div>
        </div>
    </form>
{% if search %}
    {% for verb in search %}
      {% include 'card_template.html' with verb=verb %}
    {% endfor %}
{% endif %}

{% for start, objects in verbs_dict.items %}
  <h3 style="font-weight: 700; margin-top: 50px;">{{ start.capitalize }}</h3>
  {% for verb in objects %}
    {% include 'card_template.html' with verb=verb %}
  {% endfor %}
{% endfor %}

</div>


{% endblock %}

