{% extends 'base.html' %}
{% block content %}
    <!-- Centered Heading -->
    <div class="container mt-5 text-center" >
        <h1 margin-bottom = "20px">Phrasal Verbs</h1>
    </div>

<div class="pv">
  {% for start, objects in verbs_dict.items %}
    <h3 style="font-weight: 700; margin-top: 50px; ">{{ start.capitalize }}</h3>
    {% for verb in objects %}
      <div margin-top='2110px' display='inline-block' class="card" style="width: 100%; margin-bottom: 20px;">
        <img src="" class="card-img-top" alt="">
        <div class="card-body">
          <h3 class="card-title">{{ verb.phrasal_verb}}</h3>
          <p class="card-text">{{verb.description}}</p>
            <p  style="font-size: 1.2rem; text-align: right; font-family: 'Muller Medium Italic'" class="card-text">{{verb.example}}</p>
        </div>
      </div>
    {% endfor %}

{% endfor %}
</div>


{% endblock %}

